<div class="table">
  <h1>Aanvragen</h1>
  <div class="list">
    <div class="cell">Naam</div>
    <div class="cell">E-mailadres</div>
    <div class="cell">Bedrijf</div>
    <div class="cell">Status</div>
    <div class="cell"></div>
  </div>

  <% for(let request of data.requests) { %>
  <div class="row">
    <div class="data" data-label="Naam"
      ><p><%- request.firstName %> <%- request.lastName %></p></div
    >
    <div class="data" data-label="E-mailadres"
      ><p><%- request.emailAddress %></p></div
    >
    <div class="data" data-label="Bedrijf"
      ><p><%- request.organisationName %></p></div
    >
    <div class="data" data-label="Status"
      ><p><span class="in-afwachting">in afwachting</span></p></div
    >
    <div class="data" data-label="Autoriseren"
      ><a href="/aanvragen/<%- request.requestNumber %>">Naar aanvraag</a></div
    >
  </div>
  <% } %>
</div>

<!-- <pre><%- JSON.stringify(data.requests) %></pre> -->
