<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#324E64" />

    <meta name="keywords" content="Omniplan" />
    <meta name="description" content="Omniplan" />
    <meta name="author" content="Luuk Brauckmann" />

    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <title><%- title %></title>

    <link rel="preload" href="/styles/global.css" as="style" />
    <link rel="stylesheet" href="/styles/global.css" />

    <% for (let style of styles) { %>
    <link rel="preload" href="/styles<%- style %>" as="style" />
    <link rel="stylesheet" href="/styles<%- style %>" />
    <% } %>

    <link rel="preload" href="/scripts/global.js" as="script" />
    <script src="/scripts/global.js" defer></script>

    <% for (let script of scripts) { %>
    <link rel="preload" href="/scripts<%- script %>" as="script" />
    <script src="/scripts<%- script %>" defer></script>
    <% } %>

    <!-- prettier-ignore -->
    <%- `<style>${fas()}</style>` %>
  </head>

  <body>
    <!-- prettier-ignore -->
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/main.ejs') %>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
